#content {
	padding: 7px;
	overflow: hidden;
}
#c-content { overflow: hidden; }
#subarea {
	margin: 7px;
	overflow: hidden;
}
#c-subarea {
	padding-bottom: 3px;
	overflow: hidden;
	clear: left;
}
div.unvoted {
	margin: 0 7px;
	padding: 5px 0 9px;
	width: 36px;
	text-align: center;
	float: left;
}
.unvoted div.arrow {
	width: 15px;
	height: 15px;
	display: inline-block;
	cursor: pointer;
}
div.arrow.up { background: url("../img/www.sailing-no-plan.com.png") no-repeat -21px -865px; }
div.arrow.down { background: url("../img/www.sailing-no-plan.com.png") no-repeat -86px -842px; }
div.arrow.up.upvoted { background: url("../img/www.sailing-no-plan.com.png") no-repeat -42px -865px }
div.arrow.down.downvoted { background: url("../img/www.sailing-no-plan.com.png") no-repeat 0 -864px; }
.unvoted div.score {
	font-size: 13px;
	font-weight: bold;
	display: none;
}
div.score.active { display: block; }
div.entry {
	padding: 5px 120px 0 0;
	overflow: hidden;
}
span.title {
	margin: 3px 3px 1px 0;
	font-size: 16px;
	color: #323232;
}
.domain a { color: #888; }
.tagline {
	margin-top: 15px;
	font-size: 11px;
	color: #888;
	letter-spacing: 1px;
}
.author, .subto { color: #369; }
#context { margin: 20px 0; }
#c-context {
	font-size: 14px;
	color: #323232;
}
#extend-buttons li {
	margin-right: 9px;
	display: inline-block;
}
#extend-buttons li a {
	font-size: 12px;
	color: #888;
}
#commentsarea {
	padding: 10px 10px 20px;
	overflow: hidden;
}
#c-commentsarea {
	margin: 10px 0 0 10px;
	padding: 16px 0 3px 0;
}
#c-area-title {
	padding-bottom: 3px;
	border-bottom: 1px solid #888;
}
#area-title {
	font-size: 16px;
	color: #323232;
}
.show-all {
	margin-left: 8px;
	font-size: 12px;
	color: #369;
}
.c-reply { display: none; }
.main-reply { margin: 5px 0; }
.reply {
	width: 500px;
	height: 100px;
	border: 1px solid #ccced4;
	border-top: 2px solid #888;
	border-left: 2px solid #888;
}
.btn-reply {
	padding: 2px 6px 3px;
	color: #323232;
}
div.comment {
	padding-top: 10px;
	font-size: 14px;
	color: #323232;
	overflow: hidden;
}
div.child-comment {
	border-left: 1px dotted #ccced4;
}
div.c-content { overflow: hidden; }
div.comment-unvoted {
	margin: 0 7px 0 0;
	width: 15px;
}
div.comment-arrow {
	
}
.tagline-comment {
	font-size: 11px;
	line-height: 21px;
}
.subtagline {
	margin-top: 3px;
	font-size: 10px;
}
.subtagline a { color: #369; }