#content {
	padding: 7px;
	overflow: hidden;
}
#c-content { overflow: hidden; }
#c-new { margin: 7px 5px 0; }
#c-new h1{
	margin: 10px 0;
	font-size: 18px;
	font-weight: normal;
	color: #323232;
}
#form-new {	margin: 7px 5px 0; }
#tab-menu {
	padding-left: 9px;
	width: 520px;
	border-bottom: 5px solid #000;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#tab-menu li {
	padding: 0 9px 0;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	display: inline-block;
	vertical-align: bottom;
	background-color: #ccced4;
	cursor: pointer;
}
#tab-menu li.tab-active {
	font-size: 16px;
	line-height: 21px;
	color: #fff;
	background-color: #323232;
}
.spacer { margin: 15px 0; }
.field {
	padding: 5px 10px 10px;
	width: 520px;
	font-size: large;
	color: #fff;
	background-color: #666;
	border-radius: 4px;
	box-sizing: border-box;
}
.field-c { margin-top: 5px; }
.field-c textarea, .field-c input[type="text"] {
	padding: 3px;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	font-family: verdana,arial,helvetica,sans-serif;
	color: #323232;
	border: 1px solid #666;
	background-color: #fff;
}
.field-c textarea { font-weight: normal; }
.little.white {
	font-size: smaller;
	color: #ccced4;
}
.hidden { display: none; }
input[type="submit"] {
	padding: 2px 6px 3px;
	color: #323232;
}
#c-panels {
	margin-top: 7px;
	font-size: 12px;
}
#panels {
	font-weight: bold;
	color: #ccced4;
}