body, li, p{ margin: 0; }
ul{
	margin: 0;
	padding: 0;
}
body {
	color: #ccced4;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
}
a {
	color: #ccced4;
	text-decoration: none;
}
input, textarea {
	margin: 0;
	color: #323232;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	text-align: start;
	display: inline-block;
	outline: none;
}
input[type="text"], input[type="password"] {
	font-size: 12px;
	background-color: transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #323232;
	vertical-align: middle;
}