#c-header {
	background-color: #323232;
	border-bottom: 1px solid #666;
	position: relative;
}
#title { display: inline-block; }
#site-title {
	margin-top: 4px;
	margin-right: 12px;
	font-size: 36px;
}
#panel-name a {
	margin-right: 9px;
	font-size: 16px;
	font-weight: bold;
	vertical-align: bottom;
}
#panel-name a:hover { text-decoration: underline; }
#send {
	font-size: 16px;
	font-weight: bold;
	vertical-align: bottom;
}
#send a:hover { text-decoration: underline; }
#subtitle {
	font-size: 15px;
	font-weight: bold;
	vertical-align: bottom;
}
#menu {
	display: inline-block;
	vertical-align: bottom;
}
#menu ul li {
	padding: 2px 6px 0;
	line-height: 17px;
	text-decoration: none;
	background-color: #666;
	display: inline-block;
	vertical-align: bottom;
}
#menu ul li a { font-weight: bold; }
#menu .menu-active {
	margin-bottom: -1px;
	padding: 2px 6px 1px;
	background-color: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
}
#menu .menu-active a { color: #ff4500; }
#header-sign-in, #header-signed-in {
	padding: 2px;
	padding-left: 5px;
	font-size: 11px;
    border-top-left-radius: 5px;
	background-color: #666;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
}
#header-sign-in a, #header-signed-in a {
	font-weight: bold;
	color: #fff;
}
#header-signed-in #split { margin: 0 5px; }