@font-face {
	font-family: Microsoft yaHei;
	src: url('../../font/Microsoft-yaHei.ttf');
}
body, li, p, input { margin: 0; }
body { background-color: #101010; }
div { padding: 0; }
ul {
	margin: 0;
	padding: 0;
}
body {
	color: #CCCED4;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
}
a {
	text-decoration: none;
	color: #CCCED4;
}
input, textarea, select, button {
	margin: 0;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	outline: none;
}
input[type="text"], input[type="password"] {
	margin: 0;
	font-size: 13px;
	background-color: transparent;
	color: #f0f0f0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #323232;
    vertical-align: middle;
}
button, .btn.large-btn, html input[type="button"], input[type="reset"], input[type="submit"] {
	margin: 0;
    cursor: pointer;
    padding: 2px 6px 3px;
	background-color: #323232;
	color: #f0f0f0;
	box-sizing: border-box;
	border: 1px solid #323232;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	-webkit-appearance: none; 
}